[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "6.2.1"
sphinx-rtd-theme = "*"
myst-parser = "*"
sphinx-intl = "*"

[dev-packages]
sphinx-autobuild = "*"

[requires]
python_version = "3.11"
